/* App.css */
.App {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.content {
  max-width: 600px;
  margin: auto;
  padding: 1.25rem;
}

::placeholder {
  color: lightgray;
}

#common-button {
  margin-top: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 124, 124);
  color: white;
}

#common-button:hover {
  background: red;
}

#common-button:active {
  box-shadow: 0 0 2px 4px #eee;
}